<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Flask_Index</title>
    <link rel="shortcut icon" href="/favicon.ico">
</head>

<body>
    <div class="m-2">
        <div class="d-flex justify-content-between">
            <h2 style="font-family:OCRB;color:navy;">Flask_Index</h2>
            <h4 style="font-family:serif;color:darkgreen;">Flask+Bootstrap4</h4>
        </div>
        <table class="table table-sm table-bordered" style="background-color: azure;color: #555000;">
            <thead>
                <tr>
                    <th class="text-center" colspan="2">STATUS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Access Counter</td>
                    <td>{{STATUS_ACCESS_COUNT}}</td>
                </tr>
                <tr>
                    <td>Python version</td>
                    <td>{{STATUS_PYTHON_VERSION}}</td>
                </tr>
                <tr>
                    <td>Flask version</td>
                    <>{{STATUS_FLASK_VERSION}}</td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td>{{STATUS_RESOURCE_OS}}</td>
                </tr>
                <tr>
                    <td>CPU ( physical / logical )</td>
                    <td>{{STATUS_RESOURCE_CORE}}</td>
                </tr>
                <tr>
                    <td>DRAM ( used / total )</td>
                    <td>{{STATUS_RESOURCE_MEM}}</td>
                </tr>
                <tr>
                    <td>Resource Health</td>
                    <td>{{STATUS_RESOURCE_HEALTH}}</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-sm table-bordered mt-2 table-success" style="background-color: khaki;color: navy;">
            <thead>
                <tr>
                    <th class="text-center">Link</th>
                    <th class="text-center">Outline</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/mypage.html">マイページ</a></td>
                    <td>MyPage</td>
                </tr>
                <tr>
                    <td><a href="/tptef.html">Flaskなチャットルーム</a></td>
                    <td>毎度実験に使われるSPAです</td>
                </tr>
                <tr>
                    <td><a href="/nicoapi.html">NicoAPI</a></td>
                    <td>NicoAPI</td>
                </tr>
                <tr>
                    <td><a href="/Flask/janome_banilla/main.py">API</a></td>
                    <td>APIテスト</td>
                </tr>
                <tr>
                    <td><a href="/Flask/nicoapi/main.py">API2</a></td>
                    <td>APIテスト2</td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-outline-success btn-sm m-2" href="/">Back</a>
    </div>

    <!--Bootstrap + jQuery
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        onload="window.Bs_css= 1;" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"
        integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"></script>-->
    <script>if (window.Bs_css && window.jQuery && $.fn.modal) {/*CDN all green*/ } else { /*CDN fault*/
            document.write('<link href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" \/>');
            document.write('<script src="/static/node_modules/jquery/dist/jquery.min.js"><\/script>');
            document.write('<script src="/static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"><\/script>');
        }
    </script>
    <!--Bootstrap + jQuery-->
</body>

</html>