
.fa-hover-big:hover
  font-size: 150%
  
.fadein-1
  animation: fadeIn 1s ease 0s 1 normal
.fadein-3
  animation: fadeIn 3s ease 0s 1 normal
.fadein-5
  animation: fadeIn 5s ease 0s 1 normal
@keyframes fadeIn
  0% 
    opacity: 0%
    //height: 0%
  100%
    opacity: 100%
    //height: 100%
