<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="utf-8">
        <title>Flaskなお部屋</title>
        <!--Bootstrap CSS -->
        <!--CDN-->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" onload="window.bs4css= 1;">
        <!--/Bootstrap CSS -->
    </head>

    <body>
        <div class="mx-3">
            <form method="post" enctype="multipart/form-data" style="display:inline;">
                <h1 style="color:#001900;font-family:serif">Flask_Index</h1>
                <h5 style="color:darkgreen;font-family:''">Flask+SQLite3+Bootstrap4</h5>
                <table class="table table-sm table-bordered" style="color: #555000;background-color: azure;">
                    <thead>
                        <tr>
                            <th class="text-center" colspan="2">versions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Access Counter</td>
                            <td>{{access_counter}}</td>
                        </tr>
                        {{STATUS_TABLE}}
                    </tbody>
                </table>

                <table class="table table-sm table-bordered mt-2 table-success" style="color: navy;background-color: khaki;">
                    <thead>
                        <tr>
                            <th class="text-center">Link</th>
                            <th class="text-center">Outline</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td><a href="./tptef.py">Flaskなチャットルーム</a></td>
                        <td>毎度実験に使われるSPAです</td>
                    </tbody>
                </table>
                <a class="btn btn-outline-success mt-2" href="/">戻る</a>

                <div class="m-2 p-2" style="color:#AAFEFE;border:3px double silver;background:#001111;">
                    <h5 style="color:red;font-family:''">Firebaseの機能の実験</h5>
                    <input type="button" value="auth_google" class="btn btn-success" onclick="auth_google();" />
                    <input type="button" value="auth_guest" class="btn btn-success" onclick="auth_guest();" />
                    <input type="button" value="logout" class="btn btn-success" onclick="auth_logout();" />
                    <p id="authdoc">
                        (´・ω・｀) Google_mailはAdmin用だから、登録しないでね</p>
                </div>
                <input type="hidden" id="fbtoken" name="fbtoken" value="">
                <!--↑Firebase_token_keep-->
            </form>
        </div>

        <!--Firebase -->
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-app.js"></script>
        <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-analytics.js"></script>

        <!--<script src="/__/firebase/init.js"></script>
    ↑ deploy on Firebase only  ↓ deploy on any platform-->
        <script>
            // Your web app's Firebase configuration
            var firebaseConfig = {
                apiKey: "AIzaSyCWzFat3oUpn_4TtOpDCMhcOD2Qf4u1Mr4",
                authDomain: "crack-atlas-251509.firebaseapp.com",
                databaseURL: "https://crack-atlas-251509.firebaseio.com",
                projectId: "crack-atlas-251509",
                storageBucket: "crack-atlas-251509.appspot.com",
                messagingSenderId: "646437940818",
                appId: "1:646437940818:web:080ff48019a68c74d3b98b",
                measurementId: "G-QLHKJ38SWW"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.analytics();

            function auth_google() {
                var provider = new firebase.auth.GoogleAuthProvider();
                firebase.auth().signInWithPopup(provider).then(function(result) {}).catch(function(error) {});
            }

            function auth_guest() {
                firebase.auth().signInAnonymously();
            }

            function auth_logout() {
                firebase.auth().signOut();
                var cx = document.getElementById("fbtoken");
                cx.value = "";
            }

            firebase.auth().onAuthStateChanged(function(user) { //Firebase_token_keep
                document.getElementById("authdoc").innerHTML = user.displayName + "<br>" + user.email + "<br>" +
                    user.emailVerified + "<br>" + user.photoURL + "<br>" +
                    user.isAnonymous + "<br>" + user.uid + "<br>" + user.providerData;

                firebase.auth().currentUser.getIdToken(true).then(function(idToken) {
                    var cx = document.getElementById("fbtoken");
                    cx.value = idToken;
                })
            })
        </script>
        <!--Firebase -->

        <!--Bootstrap and jQuery JS -->
        <!--CDN-->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
        <!--/Bootstrap and jQuery JS -->
    </body>

</html>