<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>Hello React!</title>
    </head>

    <body>
        <div id="example"></div>
        <div id="acc"></div>


        <!--Bootstrap and jQuery JS-->
        <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" />
        <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
        <!--Bootstrap and jQuery JS -->
        <!-- React-->
        <script src="{{ url_for('static', filename='node_modules/react/umd/react.development.js') }}"></script>
        <script src="{{ url_for('static', filename='node_modules/react-dom/umd/react-dom.development.js') }}"></script>
        <!-- React-->
        <!-- Main -->
        <script src="{{ url_for('static', filename='src/bind.js') }}"></script>
        <!-- Main -->

    </body>

</html>