<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>Hello React!</title>
    </head>

    <body>
        <div id="example"></div>
        <div id="acc"></div>
        <!-- Dependencies-->
        <script src="{{ url_for('static', filename='node_modules/react/umd/react.development.js') }}"></script>
        <script src="{{ url_for('static', filename='node_modules/react-dom/umd/react-dom.development.js') }}"></script>
        <!-- Dependencies-->
        <!-- Main -->
        <script src="{{ url_for('static', filename='src/bind.js') }}"></script>
        <!-- Main -->

    </body>

</html>