<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="utf-8">
        <title>Flaskなチャットルーム</title>
        <!--Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" onload="window.bs4css= 1;">
        <!--/Bootstrap CSS -->
    </head>

    <body>
        <div id="account_tag">cant use React</div>
        <div class="m-2">
            <form method="post" enctype="multipart/form-data" style="display:inline;">
                <h2 style="color:black;font-family:serif;">Chat_room</h2>
                <nav>
                    <div class="navbar navbar-default form-inline">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="true">Front</a>
                            <a class="nav-item nav-link active" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2" aria-selected="false">How_to_use</a>
                        </div>
                    </div>
                    <div class="tab-content alert-info" id="nav-tabContent">
                        <div class="tab-pane fade  p-1" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
                            よおこそ
                        </div>
                        <div class="tab-pane fade show active  p-1" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
                            よおこそ
                        </div>
                    </div>
                </nav>

                <table class="table table-sm text-white">
                    <thead>
                        <tr>
                            <th><input type="text" name="room" class="form-control mt-1" value="{{ROOM}}" placeholder="Room"></th>
                            <th><input type="submit" class="btn btn-success" value="Goto_Room"></th>
                        </tr>
                    </thead>
                </table>
                {{ORDERS}}
                <div class="m-2 p-2" style="color:#AAFEFE;border:3px double silver;background:#001111;">
                    <h5 style="color:white;font-family:''">入力フォーム</h5>
                    <textarea class="form-control mt-2" id="exampleFormControlTextarea1" rows="5" name="content" placeholder="Content"></textarea>
                    <div class="mt-2 form-row">
                        <label class="col-2 col-form-label">attachment:</label>
                        <div>
                            <button type="button" class="btn btn-primary btn-sm mx-1" onclick=" $(event.target).children()[0].click();">Upload_Icon
                            <input name="attachment" type="file" class="d-none" /></button>
                        </div>
                    </div>
                    <div class="mt-2 form-row btn-right ">
                        <label class="col-2 col-form-label ">handle_name:</label>
                        <input type="text " name="user " class="form-control form-control-sm mx-1 col-3 " value="{{USER}} ">
                        <button name="remark " class="btn btn-sm btn-success mx-1" value="True " disabled>remark</button>
                    </div>
                </div>

                <a class="btn btn-outline-success m-2" href="./ ">Indexへ</a>

                <input type="hidden " name="fbtoken " value=" ">
                <!--↑Firebase_token_keep-->
            </form>
        </div>

        <!--Firebase -->
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js "></script>
        <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-auth.js "></script>
        <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-analytics.js "></script>
        <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-firestore.js "></script>
        <script>
            // Your web app's Firebase configuration
            var firebaseConfig = {
                apiKey: "AIzaSyCWzFat3oUpn_4TtOpDCMhcOD2Qf4u1Mr4 ",
                authDomain: "crack-atlas-251509.firebaseapp.com ",
                databaseURL: "https://crack-atlas-251509.firebaseio.com ",
                projectId: "crack-atlas-251509 ",
                storageBucket: "crack-atlas-251509.appspot.com ",
                messagingSenderId: "646437940818 ",
                appId: "1:646437940818:web:080ff48019a68c74d3b98b ",
                measurementId: "G-QLHKJ38SWW "
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.analytics();
            var auth = firebase.auth();
            auth.onAuthStateChanged((user) => {
                if (user) {
                    user.getIdToken(true).then((idToken) => {
                        document.getElementsByName("fbtoken ")[0].setAttribute("value ", idToken);
                    })
                } else {
                    document.getElementsByName("fbtoken ")[0].setAttribute("value ", " ");
                }
            })
            var db = firebase.firestore();
        </script>
        <!--Firebase -->
        <!--Bootstrap and jQuery JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js " crossorigin="anonymous "></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js " integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm " crossorigin="anonymous "></script>
        <!--/Bootstrap and jQuery JS -->
        <!--React -->
        <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js "></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js "></script>
        <script crossorigin src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js "></script>
        <script type="text/babel " src="{{ url_for( 'static', filename='src/account.js' ) }} "></script>
        <!--React -->
        <script>
            auth.onAuthStateChanged(function(user) {
                if (user) {
                    document.getElementsByName("remark ")[0].removeAttribute("disabled ")
                    document.getElementsByName("remark ")[0].innerHTML = "remark "
                } else {
                    document.getElementsByName("remark ")[0].setAttribute("disabled ", "True ")
                    document.getElementsByName("remark ")[0].innerHTML = "Plz login "
                }
            })
        </script>

    </body>

</html>