<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="utf-8">
        <title>Flaskなチャットルーム</title>
        <!--Bootstrap CSS -->
        <!--CDN-->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" onload="window.bs4css= 1;">
        <!--/Bootstrap CSS -->
    </head>

    <body>
        <div class="m-2">
            <form method="post" enctype="multipart/form-data" style="display:inline;">
                <h2 style="color:black;font-family:serif;">Chat_room</h2>
                <h5 style="color:red;font-family:'';">=Please use freely at your own risk=</h5>


                <nav>
                    <div class="navbar navbar-default p-0 m-0 form-inline">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="true">Front</a>
                            <a class="nav-item nav-link active" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2" aria-selected="false">How_to_use</a>
                            <a class="nav-item nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-3" aria-selected="false">Description</a>
                        </div>
                    </div>
                    <div class="tab-content alert-info" id="nav-tabContent">
                        <div class="tab-pane fade  p-1" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
                            よおこそ
                            <br>Firebaseの改装中です
                        </div>
                        <div class="tab-pane fade show active  p-1" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
                            <br>
                        </div>
                        <div class="tab-pane fade p-1" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
                        </div>
                    </div>
                </nav>

                <table class="table table-sm text-white">
                    <thead>
                        <tr>
                            <th><input type="text" name="room" class="form-control mt-1" value="{{ROOM}}" placeholder="Room"></th>
                            <th><input type="submit" class="btn btn-success" value="Goto_Room"></th>
                        </tr>
                    </thead>
                </table>


                <div class="m-2 p-2" style="color:#AAFEFE;border:3px double silver;background:#001111;">
                    <h5 style="color:white;font-family:''">入力フォーム</h5>

                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="content" placeholder="Content"></textarea>
                    <p id="authdoc2">
                        工事中です
                    </p>
                    <div class="mt-2 form-row">
                        <input type="text" name="user" class="form-control mx-1 col-4" id="username-form" value="{{USER}}" placeholder="User">
                        <button name="remark" class="btn btn-success mx-1" value="True">Remark</button>
                        <button name="clear" class="btn btn-danger mx-1" value="True">Clear_your_Remarks</button>
                    </div>
                </div>

                <div id="app"></div>


                <table class="table table-sm bg-light">
                    <thead>
                        <tr>
                            <th style="width:15%;">user_name</th>
                            <th>content</th>
                            <th style="width:15%;">timestamp/uid</th>
                        </tr>
                    </thead>
                    <tbody>{{ORDERS}}</tbody>
                </table>

                <a class="btn btn-outline-success mt-2" href="./">Flask_Indexへ</a>

                <div class="m-2 p-2" style="color:#AAFEFE;border:3px double silver;background:#001111;">
                    <h5 style="color:red;font-family:''">Firebaseの機能の実験</h5>
                    <input type="button" value="auth_google" class="btn btn-success" onclick="auth_google();" />
                    <input type="button" value="auth_guest" class="btn btn-success" onclick="auth_guest();" />
                    <input type="button" value="auth_mail" class="btn btn-success" onclick="auth_mail();" />
                    <input type="button" value="auth_mail_add" class="btn btn-success" onclick="auth_mail_add();" />
                    <input type="button" value="logout" class="btn btn-success" onclick="auth_logout();" />
                    <p id="authdoc">
                        (´・ω・｀) Google_mailはAdmin用だから、登録しないでね</p>
                </div>
                <input type="hidden" id="fbtoken" name="fbtoken" value="">
                <!--↑Firebase_token_keep-->
            </form>
        </div>

        <!--Firebase -->
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-analytics.js"></script>
        <script>
            // Your web app's Firebase configuration
            var firebaseConfig = {
                apiKey: "AIzaSyCWzFat3oUpn_4TtOpDCMhcOD2Qf4u1Mr4",
                authDomain: "crack-atlas-251509.firebaseapp.com",
                databaseURL: "https://crack-atlas-251509.firebaseio.com",
                projectId: "crack-atlas-251509",
                storageBucket: "crack-atlas-251509.appspot.com",
                messagingSenderId: "646437940818",
                appId: "1:646437940818:web:080ff48019a68c74d3b98b",
                measurementId: "G-QLHKJ38SWW"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.analytics();

            function auth_google() {
                var provider = new firebase.auth.GoogleAuthProvider();
                firebase.auth().signInWithPopup(provider).then(function(result) {}).catch(function(error) {});
            }

            function auth_guest() {
                firebase.auth().signInAnonymously();
            }

            function auth_mail() {
                firebase.auth().signInWithEmailAndPassword("test@gmail.com", "password").catch(function(error) {
                    document.getElementById("authdoc").innerHTML += error.code + "<br>"
                    document.getElementById("authdoc").innerHTML += error.message + "<br>"
                });
            }

            function auth_mail_add() {
                firebase.auth().createUserWithEmailAndPassword("test@gmail.com", "password").catch(function(error) {
                    document.getElementById("authdoc").innerHTML += error.code + "<br>"
                    document.getElementById("authdoc").innerHTML += error.message + "<br>"
                })
            }

            function auth_logout() {
                firebase.auth().signOut();
                var cx = document.getElementById("fbtoken");
                cx.value = "";
            }

            firebase.auth().onAuthStateChanged(function(user) { //Firebase_token_keep
                firebase.auth().currentUser.getIdToken(true).then(function(idToken) {
                    var cx = document.getElementById("fbtoken");
                    cx.value = idToken;
                    document.getElementById("authdoc").innerHTML = idToken
                })
            })
        </script>
        <!--Firebase -->
        <!--Bootstrap and jQuery JS -->
        <!--CDN-->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
        <!--/Bootstrap and jQuery JS -->
        <!--React -->
        <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
        <script>
            class App extends React.Component {
                constructor(props) {
                    super(props);
                    this.state = {
                        value: 'Please write an essay about your favorite DOM element.'
                    };

                    this.handleChange = this.handleChange.bind(this);
                    this.handleSubmit = this.handleSubmit.bind(this);
                }

                handleChange(event) {
                    this.setState({
                        value: event.target.value
                    });
                }

                handleSubmit(event) {
                    alert('An essay was submitted: ' + this.state.value);
                    event.preventDefault();
                }

                render() {
                    return ( <
                        form onSubmit = {
                            this.handleSubmit
                        } >
                        <
                        label >
                        Essay:
                        <
                        textarea value = {
                            this.state.value
                        }
                        onChange = {
                            this.handleChange
                        }
                        /> <
                        /label> <
                        input type = "submit"
                        value = "Submit" / >
                        <
                        /form>
                    );
                }
            }
        </script>

        <!--React -->

    </body>

</html>