<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="utf-8">
        <title>Flaskなお部屋</title>
    </head>

    <body>
        <div class="mx-3">
            <form method="post" enctype="multipart/form-data" style="display:inline;">
                <h1 style="color:#001900;font-family:serif">Flask_Index</h1>
                <h5 style="color:darkgreen;font-family:''">Flask+SQLite3+Bootstrap4</h5>
                <table class="table table-sm table-bordered" style="color: #555000;background-color: azure;">
                    <thead>
                        <tr>
                            <th class="text-center" colspan="2">versions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="color:#555000;">Access Counter</td>
                            <td style="color:#555000;">{{STATUS_ACCESS_COUNT}}</td>
                        </tr>
                        <tr>
                            <td style="color:#555000;">Python version</td>
                            <td style="color:#555000;">{{STATUS_PYTHON_VERSION}}</td>
                        </tr>
                        <tr>
                            <td style="color:#555000;">Flask version</td>
                            <td style="color:#555000;">{{STATUS_FLASK_VERSION}}</td>
                        </tr>
                        <tr>
                            <td style="color:#555000;">Resource Active</td>
                            <td style="color:#555000;">{{STATUS_RESOURCE_ACTIVE}}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-sm table-bordered mt-2 table-success" style="color: navy;background-color: khaki;">
                    <thead>
                        <tr>
                            <th class="text-center">Link</th>
                            <th class="text-center">Outline</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td><a href="./mypage.html">マイページ</a></td>
                        <td>MyPage</td>
                    </tbody>
                    <tbody>
                        <td><a href="./tptef.html">Flaskなチャットルーム</a></td>
                        <td>毎度実験に使われるSPAです</td>
                    </tbody>
                    <tbody>
                        <td><a href="./nicoapi.html">NicoAPI</a></td>
                        <td>NicoAPI</td>
                    </tbody>
                </table>
                <a class="btn btn-outline-success mt-2" href="/">戻る</a>
            </form>
        </div>

        <!--Bootstrap and jQuery JS-->
        <link href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <!--Bootstrap and jQuery JS -->
    </body>

</html>