# pip3_package
wheel
setuptools

# server
flask
waitress
urllib3
certifi
requests

# application
janome
certifi
BeautifulSoup4
psutil
werkzeug
firebase-admin
google-cloud-firestore
google-cloud-storage
